@model List<WebApplication1.Models.AccountsInformation>

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text text-info">Control Account / HeadAccounts /Accounts</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <div class="input-group-append">
                            <a asp-controller="Account" asp-action="Create" class="btn btn-info">
                                <i class="fas fa-plus"></i> Add New
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap" id="example1">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Account Title</th>
                            <th>Create By</th>
                            <th>Created Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        @{
                            var model = Model.Count();
                            if (model > 0)
                            {
                                <tr class="text text-info">
                                    <th>
                                        @Model[0].HeadAccountsInformations.ControlAccountInformations.Code
                                    </th>
                                    <th colspan="6">
                                        @Model[0].HeadAccountsInformations.ControlAccountInformations.ControlAccountName
                                    </th>
                                </tr>
                                <tr class="text text-indigo">
                                    <th>
                                        @Model[0].HeadAccountsInformations.Code
                                    </th>
                                    <th colspan="6">
                                        @Model[0].HeadAccountsInformations.HeadAccountTitle
                                    </th>
                                </tr>
                            }
                        }

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.AccountTitle</td>
                                <td>@item.UserInformation.FullName</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.IsActive</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { Id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->