@model WebApplication1.Models.AccountsInformation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-0"></div>
            <div class="col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text text-blue">Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                @if (Model != null)
                                {
                                    <tr>
                                        <td class="text text-info">Control Account</td>
                                        <td class="text text-info">@Model.HeadAccountsInformations.ControlAccountInformations.Code | @Model.HeadAccountsInformations.ControlAccountInformations.ControlAccountName</td>
                                    </tr>
                                    <tr>
                                        <td class="text text-indigo">Head Account</td>
                                        <td class="text text-indigo">@Model.HeadAccountsInformations.Code | @Model.HeadAccountsInformations.HeadAccountTitle</td>
                                    </tr>
                                    <tr>
                                        <td>Account</td>
                                        <td>@Model.Code | @Model.AccountTitle</td>
                                    </tr>
                                    <tr>
                                        <td>Created By</td>
                                        <td>@(Model.UserInformation == null ? "Unknown" : Model.UserInformation.FullName)</td>
                                    </tr>
                                    <tr>
                                        <td>On Date</td>
                                        <td>@Model.CreatedDate</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>

                                        @if (Model.IsActive == true)
                                        {
                                            <td><span class="badge bg-success">True</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge bg-danger">False</span></td>
                                        }

                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th>No Record Found for the search Id</th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <!-- /.col -->
            <div class="col-md-2 col-sm-0"></div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@if (Model != null)
{
    <div>
        @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>
}
